.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    max-width: 900px;
    padding: 30px;
    margin: 20px;
    width: 100%;
    padding-left: 220px;


}

/* Login Form */
.login-form {
    width: 50%;
    padding-right: 20px;
}

.login-form h2 {
    margin-bottom: 10px;
    color: grey;
}

.login-form p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    color: grey;
    font-weight: bold;
    text-align: left;
}


.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-form a {
    color: #ff6600;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 20px;
    display: inline-block;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
}

.login-form button:hover {
    background-color: #e65c00;
}

.google-login button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.google-login .social-icon {
    margin-right: 10px;
}

/* Sign Up and Instructor/Student Links */
.signup-link {
    margin-top: 20px;
    font-size: 14px;
}

.signup-link a {
    color: #ff6600;
    text-decoration: none;
    font-weight: bold;
}

/* Login Image */
.login-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%; 
    text-align: center;
}

.login-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.login-form button:hover {
    background-color: #e65c00;
}

/* Google Login Button */
.google-login {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.google-login .social-icon {
    margin-right: 10px;
}

/* Sign Up and Instructor/Student Links */
.signup-link {
    margin-top: 20px;
    font-size: 14px;
}

.signup-link a {
    color: #ff6600;
    text-decoration: none;
    font-weight: bold;
}

/* Login Image */
.login-image {
    width: 50%;
    text-align: center;
}

.login-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
